*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: #0f3460;
    width: 100%;
    height: 7vh;
    display: grid;
    grid-template-areas: 
    "header nav ";
    font-size: 15px;
}
body{
    display: grid;
    grid-template-areas: "header header header"
     "main main main"
     "footer footer footer";
}
.header{
    grid-area: header;
}
.main{
    grid-area: main;
}
.footer{
    grid-area: footer;
}
.header-sec{
    grid-area: header;
   text-align: center;
  margin: 1.5% 18% 0 0;
}
.header-sec p{
    display: inline-block;
    color: white;
    margin: 0 3% 0 1%;
}
.header-sec img{
    width: 20px;
    height: 20px;
}
.sec-nav{
    grid-area: nav;
    text-align: center;
   margin: 2% 0 0 7%;
}
.sec-nav li{
    display: inline;
    margin-right: 3%;
}
.sec-nav a{
    text-decoration: none;
    color: white;
}
.sec-nav select{
    background-color: #0f3460;
    color: white;
    border: none;
}
.sec-main{
    margin-top: 2%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-template-areas: 
    "info-busc info-busc info-busc"
    "categories-list categories-list categories-list"
    "medicina medicina medicina"
    "artside artside artside"
    "toppro toppro toppro"
    "allpro allpro allpro";
}
.info-busc{
    grid-area: info-busc;
    display: grid;
    grid-template-areas: "title buscador usuarios";
}
.logo-main{
    grid-area: title;
    color: #0f3460;
    font-size: 40px;
    text-align: center;
    padding-right: 25%;
}
.input-main{
    grid-area: buscador;
    width: 430px;
    margin-bottom: 6%;
}
.usuarios{
    grid-area: usuarios;
}
.main-input-busc{
    width: 530px;
    height: 40px;
    border-radius: 100px;
    border: 1px solid #dfe1e5;
    display: grid;
    grid-template-areas: "auto auto auto";
    justify-content: center;
    align-items: center;
}
.main-input-busc input{
    width: 420px;
    height: 35px;
    border: none;
    outline: none;
}
.search-icon{
    background-image: url("./img/buscador.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 28px;
    height: 18px;
}
.main-input-busc button{
    font-size: 18px;
    color: white;
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 0 100px 100px 0;
    background: #4E97FD;
    border: 1px solid #3C74C2;
}
.usuarios{
    text-align: center;
}
.usuarios img{
    margin-right: 3%;
}
.categories-list{
    grid-area: categories-list;
    display: grid;
    grid-template-areas: "categories lista lista";
    margin-bottom: 2%;
}
.categories-select{
    border: none;
    background-color: #f6f9fc;
}
.categories{
    grid-area: categories;
    margin-left: 17%;
    background: #f6f9fc;
    width: 300px;
    height: 55px;
}
.categories img{
    width: 37px;
    height: 37px;
   margin: 2% 0 0 4%;
}
.lista{
    grid-area: lista;
    margin-left: 10%;
}
.lista ul li{
    display: inline-block;
   margin: 3% 3% 0 0;
}
.lista-select{
    border: none;
}

.medicina{
    width: 100%;
    grid-area: medicina;
    background-color: #efefef;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: "titmed imgmed"
    "butmed imgmed";
    height: 400px;
}
.medicina-title{
grid-area: titmed;
}
.medicina-title{
    color: #2b3445;
    text-align: left;
    margin: 10% 0 0 12%;
    font-size: 25px;
}
.shop{
    background-color: #4E97FD;
    border-radius: 5px;
    border: none;
    color: white;
    width: 17%;
    height: 17%;
    margin-top: 5%;
}
.medicina-img{
    grid-area: imgmed;
    margin-top: 10%;
}
.articulos-aside{
    grid-area: artside;
    display: grid;
    grid-template-areas: "aside enfermera cremas"
    "aside product product"
    "none product-all product-all"
    "none labels labels";
    margin-top: 3%;
    grid-template-rows: 350px;
}
.aside{
    grid-area: aside;
    margin: 5% 0 0 15%;
}
.aside ul{
    list-style: none;
}
.aside li{
    margin-bottom: 2%;
    background-color: #f3f5f9;
    width: 250px;
}
.aside a{
    text-decoration: none;
    color: #4b5871;
}
.aside select{
border: none;
background-color: transparent;
font-size: 17px;
color: #4b5871;
cursor: pointer;
}
.aside h3{
    background-color: #b8defe;
    text-align: center;
    width: 250px;
    height: 40px;
    border-radius: 5px 5px 0 0;
}
.enfermera{
    grid-area: enfermera;
    display: grid;
    grid-template-areas: "cap fig";
    border: 1px solid #eef2f5;
    border-radius: 20px;
    height: 200px;
    width: 430px;
    margin: 3% 0 0 0;
}
.img-enfermera{
    grid-area: fig;
    margin: 5% 0 0 5%;
}
.figcaption-enfer{
    grid-area: cap;
    border-radius: 20px 100px 100px 20px;
    background-color: #b8defe;
    height: 200px;
    text-align: center;
    padding-top: 25%;
}
.cremas{
    grid-area: cremas;
    display: grid;
    grid-template-areas: "info-cre cremas";
    border: 1px solid #eef2f5;
    border-radius: 20px;
    height: 195px;
    width: 430px;
    margin: 3% 0 0 8%;
}
.text-cre{
    grid-area: info-cre;
    padding: 20% 0 0 10%;
    text-align: left;
}
.text-cre p, .text-cre h3{
    margin-bottom: 2%;
}
.text-cre button{
    background-color: #4E97FD;
    border-radius: 5px;
    border: none;
    color: white;
    width: 35%;
    height: 17%;
    margin-top: 5%;
    cursor: pointer;
}
.img-cre{
    grid-area: cremas;
    margin: 8% 0 0 5%;  
}
.top-products{
grid-area: product;
display: grid;
grid-template-areas: "title title title"
"art1 art2 art3"
"title-all title-all title-all"
"art4 art5 art6";
}
.top-products-title{
    grid-area: title;
    
}
.art1{
    grid-area: art1;
    margin-top: 8%;
    width: 60%;
    border: 1px solid #eef2f5;
    border-radius: 5px;
}
.estrellas a{
text-decoration: none;
}
.art1 figcaption{
    border: 1px solid #eef2f5;
    margin-top: 2%;
}
.art1 p{
    margin-top: 4%;
}
.etiqueta{
    background-color: #4E97FD;
    width: 60px;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    text-align: center;
}
.img-central{
margin: 5% 0 14% 25%;
}
.Add{
    background-color: #4E97FD;
    color: white;
    border: none;
    border-radius: 5px;
    width: 170px;
    height: 35px;
    cursor: pointer;
    margin-bottom: 2%;
}
.corazon{
    background-color: #4E97FD;
    color: white;
    border: none;
    cursor: pointer;
    height: 35px;
    border-radius: 5px;
}
.corazon img{
    margin-top: 2%;
}
.precio{
    color: #4E97FD;
}
.art2{
    grid-area: art2;
}
.art2 .img-central{
    width: 110px;
    height: 120px;
    margin-bottom: 20%;
}
.art3{
    grid-area: art3;
}
.All-products{
    grid-area: product-all;
    display: grid;
    grid-template-areas: 
    "art4 art5 art6";
}
.art4{
    grid-area: art4;
    width: 65%;
    border: 1px solid #eef2f5;
    border-radius: 5px;
}
.All-products-title{
    margin: 5% 0 5% 0;
}
.All-products-title{
    grid-area: title-all;
}
.art4 figcaption{
    border: 1px solid #eef2f5;
    margin-top: 2%;
}
.art4 p{
    margin-top: 4%;
}
.art5{
    grid-area: art5;
    width: 65%;
    border: 1px solid #eef2f5;
    border-radius: 5px;
}
.art5 figcaption, .art6 figcaption{
    border: 1px solid #eef2f5;
    margin-top: 2%;
}
.art5 p, .art6 p{
    margin-top: 4%;
}
.art6{
    grid-area: art6;
    width: 65%;
    border: 1px solid #eef2f5;
    border-radius: 5px;
}
.labels{
    grid-area: labels;
    display: grid;
    grid-template-areas:
    "label1 label2 label3";
    margin: 5% 0 0 0;
}
.label1{
    grid-area: label1;
    border: 1px solid #f4f5f6;
    width: 65%;
    border-radius: 10px;
    background-color: #fcfcfc;

}
.label-fig{
    margin: 8% 0 6% 10%;
}
.label-fig img{
    background-color: #f3f5f9;
    padding: 2%;
    margin-right: 3%;
    border-radius: 25px;
}
.label-figcap{
    display: inline-block;
}
.label-figcap p{
    color: #4b5871;
    margin-top: 1%;
}
.label2{
    border: 1px solid #f4f5f6;
    width: 65%;
    border-radius: 10px;
    background-color: #fcfcfc;
    grid-area: label2;
}
.label3{
    grid-area: label3;
    border: 1px solid #f4f5f6;
    width: 65%;
    border-radius: 10px;
    background-color: #fcfcfc
}
footer{
    margin-left: 25%;
    width: 67%;
    height: 280px;
    background-color: #0f3460;
    border-radius: 15px;
    margin-top: 10%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    "titles icons "
    "titles icons"
}
.titles-ft{
    margin: 7%;
    grid-area: titles;
}
.titles-ft h2{
    color: white;
    margin-bottom: 2%;
    font-size: 40px;
}.titles-ft p{
    color: white;
}
.titles-ft figure img{
    width: 32px;
    height: 32px;
}
.titles-ft figure{
    display: inline-block;
    margin: 4% 10% 0 0;
    background-color: #0c2a4d;
    padding: 2%;
    border-radius: 4px;
    cursor: pointer;
}
.titles-ft figcaption{
    display: inline-block;
    color: white;
}
.titles-ft figcaption p{
    font-size: 12px;
}
.icons-ft{
    grid-area: icons;
}
.icons-ft ul{
    margin-top: 17%;
    list-style: none;
}
.icons-ft ul li{
    margin-bottom: 3%;
}
.icons-ft a{
    text-decoration: none;
    color: white;
}
.titles-ft{
    margin: 7%;
}

@media (max-width: 1100px) {
    .info-busc{
        margin-left: 20%;
        grid-template-areas: 
        "title usuarios usuarios"
        "buscador buscador buscador";
    }
    .usuarios{
        margin-right: 20%;
    }
    
    .categories-list{
        margin: 0 auto;
        grid-template-areas: "categories categories categories"
        "lista lista lista";
    }
    .aside{
        position: sticky;
    }
    .Add{  
        width: 100px;
        height: 20px;
    }
    .medicina{
        grid-template-areas: "titmed imgmed"
        "titmed imgmed";
        }
    .lista2{
        margin-left: 70%;
    }
    .articulos-aside{
        grid-template-areas: "aside enfermera enfermera"
        "aside cremas cremas"
        "none product product"
         "none labels labels";
    }
    .enfermera, .cremas{
        margin: 3% 0 0 10%;
    }
    .corazon{
        margin: 0;
    }
    .top-products{
        margin: 5% 0 0 10%;
        grid-template-areas:
        "title title title"
        "art1 art1 art1"
        "art2 art2 art2"
        "art3 art3 art3"
        "title-all title-all title-all"
        "art4 art4 art4"
        "art5 art5 art5"
        "art6 art6 art6";
    }
    .art1,.art4,.art5,.art6{
        width: 40%;
    }
    .enfermera, .cremas, .top-products, .All-products{
        margin-left: 10%;
    }
    .labels{
        grid-template-areas: 
        "label1 label1 label1"
        "label2 label2 label2"
        "label3 label3 label3";
    }
    .label1,.label2,.label3{
    width: 40%;
    margin:3% 0 0 5%;
    }
    footer{
        margin: 5% 0 0 0;
        width: 100%;
        border-radius: 5px;
    }
    .titles-ft figure{
        margin-right: 2%;
    }
}
